/* Write your code here. */
.con {
  width: 70vw;
  height: 70vh;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img-co {
  width: 20vw;
  height: 20vh;
  border-radius: 5px;
}
.li-con {
  display: flex;
}
